<br/>

<div class ="container text-center"   >
  <div class ="row">
    <div class ="col-sm-3 well">
      <div class ="myBackground"><p id = "ent">Entrar</p>
      </div>
      <div>
        <div class ="well">
          <form class "form-horizontal">
            <div class = "form-group">
              <label class ="control-label col-sm-2" for="email">Email:</label>
              <input type ="email" class ="form-control" id ="email" placeholder ="Ingrese su usuario" >
            </div>
            <div class = "form-group">
              <label class="control-label col-sm-2" for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Ingrese su contraseña">
            </div>
            <div class="form-group">
              <div >
                <button type="submit" class="btn btn-success myButton">Acceder</button>
                <br/><br/>
                <%= link_to "sign up", signup_path, class: "btn btn-primary myButton" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class ="col-sm-9 well">
      <p id = "title-welcome" class=  "text-center">
         Bienvenidos
      </p>
      <br/>
      <p id="text-welcome">
      GIFI permite a los Grupos de Investigación de la facultad de Ingeniería de la Universidad Nacional de Colombia - sede Bogotá centralizar su información referente a integrantes, productos, eventos, líneas de investigación, proyectos de investigación y temas de tesis, a su vez la ofrece a los estudiantes de la universidad y al público en general. Dichos grupos están conformados por un conjunto de académicos y estudiantes que realizan investigaciones en áreas de ingeniería, sobre las cuales examinan problemas específicos, promueven el desarrollo de nuevos productos y proponen nuevos temas de profundización.
    </p>
    </div>


    <div class ="col-sm-3 image-welcome" >
      <img src ="/assets/icons/search .png" class "visible-print" />
      <a href ="#">

      <p class ="text-center image-text">
        <strong>
          Encuentra una publicación
          </strong
        </p></a>
      </div>
      <div class ="col-sm-3 image-welcome">

        <img src ="/assets/icons/list.png" class "visible-print" />
        <a href ="#">

        <p class ="text-center image-text">
          <strong>
            Encuentra temas de tesis

            </strong>
          </p></a>

        </div>
        <div class ="col-sm-3 image-welcome">

          <img src ="/assets/icons/add-user.png" class "visible-print" />

          <a href ="#">

          <p class ="text-center image-text">
            <strong>
              Vinculate a algún grupo de investigación
              </strong
            </p></a>

          </div>
        </div>

      </div>
